/*-----------------------------------------------------------------------------------------------------------------------
  BASE ELEMENTS
-----------------------------------------------------------------------------------------------------------------------*/

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    background-color: #212529;
    box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0.1);

    transition: box-shadow 0.3s ease-out, 
                background-color 0.3s ease-out,
                border-bottom-left-radius 0.3s ease-out,
                border-bottom-right-radius 0.3s ease-out;
}

header.scrolled {
    box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.15);
    /* background-color: rgba(255, 255, 255, 0.8) !important; */
    background-color: #212529 !important;
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}

.socials-link {
    color: #c4700a;
    transition: transform 0.2s ease, color 0.2s ease;
    display: inline-block;
}

.socials-link:hover {
    color: #ff8c00;
    transform: scale(1.2);
}

#emailIcon {
    transition: color 0.3s ease, transform 0.2s ease;
}

.signature_m {
    height: 65px; 
    width: auto;
    object-fit: contain;
}

.btn-orange {
    background-color: #ff8c00;
    border-color: #ff8c00;
    color: white;
}

.btn-orange:hover {
    background-color: #c4700a;
    border-color: #c4700a;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-link-orange {
    color: #c4700a;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    font-size: large;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.nav-link-orange:hover {
    color: #c4700a;
}

.nav-link-orange.active {
    color: #ff8c00;
}

.nav-link-orange::after{
    content: '';
    opacity: 0;
    height: 2px;
    width: 0%;
    background-color: #c4700a;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
}

.nav-link-orange:hover::after{
    opacity: 1;
    width: 100%;
}

.nav-link-orange.active::after {
    color: #ff8c00;
    opacity: 1;
    height: 2px;
    width: 100%;
    background-color: #ff8c00;
    position: absolute;
    bottom: 0;
    left: 0;
}

.copyEmail {
    text-decoration: none;
    color: #575b5e;
}

.copyEmail #title{
    text-decoration: none;
    font-style: italic;
    font-size: smaller;
    color: #575b5e;
    text-align: center;
}

/*-----------------------------------------------------------------------------------------------------------------------
EXPERIENCES PAGE
-----------------------------------------------------------------------------------------------------------------------*/

#welcome {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.signature {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1rem;
    margin-right: 12%;
}

.signature-image {
    height: 80px; 
    width: auto;
    object-fit: contain;
}

.experiences-category {
    display: flex;
    align-items: center; 
    text-align: center;
    width: 100%;
    padding-top: 2.5rem;
}

.experiences-category h2 {
    white-space: nowrap;
    padding: 0 40px;
    margin-bottom: 0;
    
}

.experiences-category::before,
.experiences-category::after {
    content: '';
    height: 2px;
    background-color: #dddfe0;
    flex-grow: 1;
    position: relative;
    top: -19px;
}

.experiences-title {
    color: #e1e2e4;
    transition: color 0.3s ease-out;
}

.experiences-subtitle {
    color: #c4700a;
    transition: color 0.3s ease-out;
}


.experiences-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13rem;
    background-color: #212529;
    padding: 8%;
    background-image: repeating-linear-gradient(rgba(255, 255, 255, 0.07), rgba(128, 128, 128, 0.05), rgba(128, 128, 128, 0), rgba(128, 128, 128, 0), rgba(255, 255, 255, 0.2));
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    border-radius: 5px;
}

.no-decoration-link {
    text-decoration: none;
}

.experiences-card-title {
    transition: transform 0.3s ease-in-out
}

.experiences-card-title:hover {
    transform: scale(1.06);
}

.experiences-card-title:hover .experiences-title {
    color: rgb(255, 255, 255);
}

.experiences-card-title:hover .experiences-subtitle {
    color: #ff8c00;
}

.experience-description{
    font-size: medium;
}

.experience-picture{
    justify-content: center;
    display: flex;
}

/*-----------------------------------------------------------------------------------------------------------------------
  ABOUT ME PAGE
-----------------------------------------------------------------------------------------------------------------------*/

#about-me-page {
    background-color: #e1e2e4;
}

.strip{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.25) !important;
    background-color: #ffffff;

}

/* .card-custom-style {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card-custom-style img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.card-custom-style::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 1;
    transition: background-color 0.3s ease;
}

.card-custom-style .card-body {
    background-color: #ff8c00;
    position: relative;
    z-index: 2;
}

.card-custom-style:hover::after {
    background-color: rgba(0, 0, 0, 0.2);
} */

/* .bg-unity { background-image: linear-gradient(rgba(90, 90, 90, 0.1), rgba(128, 128, 128, 0.4)), url('../images/interests/unity_game.png'); }
.bg-web { background-image: linear-gradient(rgba(90, 90, 90, 0.1), rgba(128, 128, 128, 0.4)), url('../images/interests/desenvolvimento_web.png'); }
.bg-python { background-image: linear-gradient(rgba(90, 90, 90, 0.1), rgba(128, 128, 128, 0.4)), url('../images/interests/python_logo3.png'); } */

.card-title-custom {
    hyphens: none;
    overflow-wrap: normal;
    text-align: center;
    word-break: keep-all;
}

.interests-title {
    text-align: center;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 18rem;
  text-align: center;
  transition: transform 0.8s ease-in-out;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.flip-card-front {
  background-color: #212529;
  color: white;
  border-radius: 5px;}

.flip-card-front img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.flip-card-back {
  background-color: #ff8c00;
  color: white;
  transform: rotateY(180deg);
  border-radius: 5px;
  
  justify-content: flex-start; 
  padding: 2rem;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#my-socials ul {
    justify-items: center;
    display: flex;
}

#my-socials li {
    display: flex;
    align-items: center;
}

#my-socials a {
    text-decoration: none;
    font-size: x-large;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.my-socials-links {
    color: #ff8c00;
}